/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-8-9, 17:32:31
    Author     : 44260
*/

body {
    margin: 0;
}
.card {
    display: inline-block;
    flex: 1;
    position: relative;
    min-width: 300px;
    height: 10rem;
    margin: 0rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #3979b7;
    overflow: hidden;
}
.card__icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    line-height: 2rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.card__circle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.2;
    transition: all 0.4s ease-in-out;
}
.card > p {
    position: relative;
    top: 50%;
    margin: 0 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
}
.card--alt-1 {
    background-color: #7e3f82;
}
.card--alt-2 {
    background-color: #39b764;
}
.card--alt-3 {
    background-color: #cc3f82;
}
.card--alt-4 {
    background-color: #ef7c2b;
}
.card:hover .card__circle {
    transform: scale(40);
    opacity: 0.8;
}
.card:hover > p,
.card:hover .card__icon {
    color: #45556e;
}
.container {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}